/*font-family: 'Comfortaa', cursive;*/
@media screen and (min-width: 480px) {
body {
 background-color: #ffe3ae;
     max-width:950px;
     margin:0 auto;
 }
 h1,h2,h3
 {
  font-family: 'Comfortaa', cursive;
 }
 .soc-logo{
     width:85px; 
     height:85px;
 }
.img-carousel{
  height: 340px;
  max-height: 340px;
}
 header {
  background-color: #7a7a7a;
   border:1px solid black;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
    align-items:flex-end;
   font-family: 'Comfortaa', cursive;
 }
 .navbar-brand{
     font-family: 'Comfortaa', cursive;
    font-size: 20px ;
   
    color: #ffe3ae;
  
}
.penta-logo{
    display: flex;

    flex-direction:column;
}
.penta-logo div{
    max-width: 90px;
}
  .banner 
 {
     /*background-image: url("img/header.jpg");*/
     max-width: 950px;
 }
 .logo-link{
     display: flex;
     justify-content:space-around;
 }
 .navbar  {
    
     margin-bottom: 0;}
.container-fluid{
     background-color:  #7a7a7a;
 }
 .logo-img{
     display: flex;
     justify-content:space-around; 
 }
 .container-soc {
    display:block;
}
 #home {
 display:flex;
 justify-content:flex-start;
   align-items:flex-start;
  text-align: center;
  color: #ffe3ae;
 }
.bio-frame{
    min-height: 280px;
    border-style: hidden;
    background-image: url("img/note4.png");
}
.main_l h2{
    margin:0 auto;
    
}
.container ul {
      font-family: 'Comfortaa', cursive;
     display:flex;
     flex-wrap:wrap;
     justify-content:center;
        max-height:80%;
      list-style: none;
     border-radius: 25px 25px 0 0 ;
      background-color: #7a7a7a;
      text-align: center;

}
.nav li {
    background-color: #ffffff;
    display: flex;
    flex-wrap:wrap;
     font-family: 'Comfortaa', cursive;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a {
        display: flex;
    flex-wrap:wrap;
       font-family: 'Comfortaa', cursive;
  text-decoration: none;
  color: black;

  transition: .3s background-color;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a:hover {
  background-color: #ffe3ae !important;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
    border-radius: 25px 25px 0 0 ;
}
 

article {
    max-width: 450px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.note-text{
    max-width: 450px;
    display:flex;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color:black;
    justify-content:flex-start;
     background-image: url("img/note4.png");
}
.bio
{
        display:flex;
        flex-direction:column;
    justify-content:flex-end;
}
.social{
    text-align: center;
    margin-right:20%;
    margin-left:20%;
        flex-direction:row;
    justify-content:center;
}
footer {
     background-color: #7a7a7a;
   font-family: 'Comfortaa', cursive;
    border:1px solid black;
}

.lang_nav{
    margin-left: 80px;
    display: flex;

     align-self: flex-end;
    flex-direction:row;
}
.logo-link a:-webkit-any-link {
     font-family: 'Comfortaa', cursive;
     text-decoration: none; 
     color:black;
}

.nav-footer {
    /*max-width: 70%;*/
    /*max-height:70%;*/

     border-radius: 5px;
     display:flex;
     justify-content:space-around;
     background-color:  #ffe3ae;
   font-family: 'Comfortaa', cursive;
}
footer a:link {
   
    color:black;
     text-decoration: none;
     margin:0 auto;
}
main {
    display: flex;
    flex-direction:row;
   justify-content:space-around;
}


h2 a{
    color: black;
}
h2 a:hoover{
     text-decoration: none;
}
.main_r, .main_l
{min-width:380px;
    display: flex;
    flex-direction:column;
   justify-content:center;
 
}

.map,#map {
display: flex;
justify-content:space-around;
flex-direction:column;
    width:90%;
    height: 50vh;
    margin: 0 auto;
   
 
}

.h2-centered{
    display: flex;
    justify-content:space-around;
}
.reset{
    min-width: 202px;
    min-height:45px;
    background-color:#e61610;
    border-style:none; 
}
.submit{
    margin-left: 25%;
    margin-right: 25%;
    background-color:#2196f3;
     min-width: 202px;
    min-height:45px;
}
.form 
{display: flex;
width: 100%;
margin:0 auto;
    justify-content:space-around;
}
.feed{
   font-family: 'Comfortaa', cursive; 
  display: flex;
  justify-content:center;
  flex-direction:column;
}
form label{display: flex;

    margin-bottom: 20px;
}
form label input{
    display: flex;
   justify-content:flex-end;
}
.h2-logo
{
       margin:0 0 0 10px;
}
.h1-logo
{     margin:0 0 0 10px;
}
#language{
    position: absolute;
    right:0;
    top:0;
    display: flex;
     align-self: flex-end;
     margin-left: 100px;
  border-radius: 5px 5px 0 0 ;
  border-bottom-width: 0;
   border-right-width: 0;
   min-width: 60px;
   /*margin-bottom: 10px;*/
   /*margin-left: 80%;*/
  
}
hr{
   border-color: #7a7a7a;
   border-radius: 5px 5px 5px 5px ; 
   border-width: 6px;
}
.nav-footer p
{
    margin :0;
}
}

body {
 background-color: #ffe3ae;
     max-width:950px;
     margin:0 auto;
 }
 h1,h2,h3
 {
  font-family: 'Comfortaa', cursive;
 }
 .soc-logo{
     width:85px; 
     height:85px;
 }
 .container-fluid{
     background-color:  #7a7a7a;
 }
  .navbar 
 {margin-bottom: 0;}
 header {
  background-color: #7a7a7a;
   border:1px solid black;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
    align-items:flex-end;
   font-family: 'Comfortaa', cursive;
 }
 .logo-link{
     display: flex;
     justify-content:space-around;
 }
 .logo-img{
     display: flex;
     justify-content:space-around; 
 }
 .banner img {
     /*content: url(img/header.jpg);*/
     max-width: 950px;
 }

.container-soc {
margin: 0 auto;
max-width: 750px;
    display: flex;
 
  justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container ul {
      font-family: 'Comfortaa', cursive;
     display:flex;
     flex-wrap:wrap;
     justify-content:center;
        max-height:80%;
      list-style: none;
     border-radius: 25px 25px 0 0 ;
      background-color: #7a7a7a;
      text-align: center;

}
.container-soc > div {
    width: 20%;
    min-width: 100px;
    margin: 0;
}
.container-soc > div:nth-child(1),
.container-soc > div:nth-child(2){
    width: 45%;
}
.container-soc > div:nth-child(3){
    width: 95%;
margin-left:30% ;
margin-right:30% ;
    justify-content:center;
}
.container-soc > div:nth-child(4),
.container-soc > div:nth-child(5){
    width: 45%;
}
div > img {
    width: 100%;
}
 #logo {
 display:flex;
 justify-content:flex-start;
   align-items:flex-start;
     flex-direction:column;
  width: 25%;
  min-width: 15%;
  text-align: center;
  color: #ffe3ae;
 }
.nav ul {
      font-family: 'Comfortaa', cursive;
     flex-wrap:nowrap;
     display:flex;
     margin:0 auto;
     justify-content:center;
        max-height:80%; 
      min-width: 55%;
      list-style: none;
     border-radius: 25px 25px 0 0 ;
      background-color: #7a7a7a;
      text-align: center;
      padding: 0;
      margin: 0;
}
.nav li {
    background-color: #ffffff;
   
     font-family: 'Comfortaa', cursive;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a {
       font-family: 'Comfortaa', cursive;
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
    border-radius: 25px 25px 0 0 ;
}

.nav a:hover {
  background-color: #ffe3ae !important;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
    border-radius: 25px 25px 0 0 ;
}
 

  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }


article {
    max-width: 450px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.note-text{
    max-width: 450px;
    display:flex;
    text-align: center;
    color:black;
    justify-content:flex-start;
    background-image: url("img/note4.png");
}
.bar-header
{max-width: 950px;
    
}
.bio
{
        display:flex;
        flex-direction:column;
    justify-content:flex-end;
}
.social{
    text-align: center;
    margin-right:20%;
    margin-left:20%;
        flex-direction:row;
    justify-content:center;
}
footer {
     background-color: #7a7a7a;
   font-family: 'Comfortaa', cursive;
    border:1px solid black;
   
}
footer a{
    margin-left: 0;
}

.logo-link a:-webkit-any-link {
     font-family: 'Comfortaa', cursive;
     text-decoration: none; 
     color:black;
}

.nav-footer {
    /*max-width: 70%;*/
    /*max-height:70%;*/
    margin-left:5%;
    margin-right:5%;
     border-radius: 5px;
     display:flex;
     justify-content:space-around;
     background-color:  #ffe3ae;
   font-family: 'Comfortaa', cursive;
}
footer a:link {
   
    color:black;
     text-decoration: none;
}
.main_r, .main_l
{
    display: flex;
    flex-direction:column;
   justify-content:center;
}

.map,#map {
display: flex;
justify-content:space-around;
flex-direction:column;
    width:90%;
    height: 50vh;
    margin: 0 auto;
   
 
}
.message,.h2-centered{
    display: flex;
    justify-content:space-around;
}
.reset{
    min-width: 202px;
    min-height:45px;
    background-color:#e61610;
    border-style:none; 
}
 #home {
 display:flex;
 justify-content:flex-start;
   align-items:flex-start;
  text-align: center;
  color: #ffe3ae;
  margin-top: -10px;
 }

.submit{
    background-color:#2196f3;
     min-width: 202px;
    min-height:45px;
}

.form 
{display: flex;
width: 100%;
margin:0 auto;
    justify-content:space-around;
}
.feed{
   font-family: 'Comfortaa', cursive; 
  display: flex;
  justify-content:center;
  flex-direction:column;
}
.navbar-brand{
     font-family: 'Comfortaa', cursive;
    font-size: 20px ;
   
    color: #ffe3ae;
  
}
.h2-logo
{
       margin:0 0 0 10px;
}
.h1-logo
{     margin:0 0 0 10px;
}
#language{
  border-radius: 5px 5px 0 0 ;
  border-bottom-width: 0;
   border-right-width: 0;
   min-width: 60px;
   /*margin-bottom: 10px;*/
   /*margin-left: 80%;*/
  
}
hr{
   border-color: #7a7a7a;
   border-radius: 5px 5px 5px 5px ; 
   border-width: 6px;
}
.nav-footer p
{
    margin :0;
}

.form-style-2{
      margin: auto;
    
    max-width: 500px;
  
    
    font: 15px  'Comfortaa', cursive, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 48%;
    text-align: center;
}
.form-style-2 input.input-field{
    width: 48%;
   
}
.bio-frame{
    min-height: 280px;
    border-style: hidden;
    background-image: url("img/note4.png");
}
.main_l h2{
    margin:0 auto;
    
}
.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
h2 a{
    color: black;
}
h2 a:hoover{
     text-decoration: none;
}
.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}
.img-carousel{
  height: 340px;
  max-height: 340px;
}