/*font-family: 'Comfortaa', cursive;*/
body {
 background-color: #ffe3ae;
     max-width:950px;
     margin:0 auto;
 }
 h1,h2,h3
 {
  font-family: 'Comfortaa', cursive;
 }
 header {
  background-color: #7a7a7a;
   border:1px solid black;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
    align-items:flex-end;
   font-family: 'Comfortaa', cursive;
 }
 #logo {
 display:flex;
 justify-content:flex-start;
   align-items:flex-start;
     flex-direction:column;
  width: 25%;
  min-width: 15%;
  text-align: center;
  color: #ffe3ae;
 }
.nav ul {
      font-family: 'Comfortaa', cursive;
    flex-wrap:nowrap;
 display:flex;
 justify-content:center;
max-height:80%; 
  min-width: 55%;
  list-style: none;
    border-radius: 25px 25px 0 0 ;
  background-color: #7a7a7a;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
    background-color: #ffffff;
   
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a:hover {
  background-color: #ffe3ae;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
    border-radius: 25px 25px 0 0 ;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
.banner {
max-width:950px;

 
}
article {
    max-width: 450px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.note-text{
    max-width: 450px;
    display:flex;
    text-align: center;
    color:black;
    justify-content:flex-start;
    background-image: url("http://spyhop.org/sendingmessages/wp-content/uploads/2016/04/spiral-notebook-paper-texture-457x600-400x200.jpg");
}
.bio
{
        display:flex;
        flex-direction:column;
    justify-content:flex-end;
}
.social{
    text-align: center;
    margin-right:20%;
    margin-left:20%;
        flex-direction:row;
    justify-content:center;
}
footer {
     background-color: #7a7a7a;
   font-family: 'Comfortaa', cursive;
    border:1px solid black;
}
td{
    min-width: 25px;
     font-family: 'Comfortaa', cursive; 
}
td a{
     text-decoration: none; 
}

.nav-footer {
    /*max-width: 70%;*/
    /*max-height:70%;*/
    margin-left:15%;
    margin-right:15%;
     border-radius: 5px;
     display:flex;
     justify-content:center;
     background-color:  #ffe3ae;
   font-family: 'Comfortaa', cursive;
}
footer a:link {
   
    color:black;
     text-decoration: none;
}
main{
 
}
.main_r, .main_l
{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}
.main_r
{
    display:flex;
    justify-content:space-around;
}
.map {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}
.reset{
    min-width: 202px;
    min-height:45px;
    background-color:#e61610;
    border-style:none; 
}
.submit{
    background-color:#2196f3;
     min-width: 202px;
    min-height:45px;
}

form{
   font-family: 'Comfortaa', cursive; 
}