/*font-family: 'Comfortaa', cursive;*/
@media screen and (min-width: 480px) {
body {
 background-color: #ffe3ae;
     max-width:950px;
     margin:0 auto;
 }
 h1,h2,h3
 {
  font-family: 'Comfortaa', cursive;
 }
 .soc-logo{
     width:85px; 
     height:85px;
 }

 header {
  background-color: #7a7a7a;
   border:1px solid black;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
    align-items:flex-end;
   font-family: 'Comfortaa', cursive;
 }
  
  .banner 
 { background-image: url("img/header.jpg");
     max-width: 950px;
 }
 .logo-link{
     display: flex;
     justify-content:space-around;
 }
 .logo-img{
     display: flex;
     justify-content:space-around; 
 }
 .container {
    display:block;
}
 #logo {
 display:flex;
 justify-content:flex-start;
   align-items:flex-start;
     flex-direction:column;
  width: 25%;
  min-width: 15%;
  text-align: center;
  color: #ffe3ae;
 }
.nav ul {
      font-family: 'Comfortaa', cursive;
     display:flex;
     flex-wrap:wrap;
     justify-content:center;
        max-height:80%;
      list-style: none;
     border-radius: 25px 25px 0 0 ;
      background-color: #7a7a7a;
      text-align: center;

}
.nav li {
    background-color: #ffffff;
    display: flex;
    flex-wrap:wrap;
     font-family: 'Comfortaa', cursive;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a {
        display: flex;
    flex-wrap:wrap;
       font-family: 'Comfortaa', cursive;
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a:hover {
  background-color: #ffe3ae;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
    border-radius: 25px 25px 0 0 ;
}
 

article {
    max-width: 450px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.note-text{
    max-width: 450px;
    display:flex;
    text-align: center;
    color:black;
    justify-content:flex-start;
    background-image: url("http://spyhop.org/sendingmessages/wp-content/uploads/2016/04/spiral-notebook-paper-texture-457x600-400x200.jpg");
}
.bio
{
        display:flex;
        flex-direction:column;
    justify-content:flex-end;
}
.social{
    text-align: center;
    margin-right:20%;
    margin-left:20%;
        flex-direction:row;
    justify-content:center;
}
footer {
     background-color: #7a7a7a;
   font-family: 'Comfortaa', cursive;
    border:1px solid black;
}
.lang_nav{
    display: flex;
    flex-direction:column;
}
.logo-link a:-webkit-any-link {
     font-family: 'Comfortaa', cursive;
     text-decoration: none; 
     color:black;
}

.nav-footer {
    /*max-width: 70%;*/
    /*max-height:70%;*/

     border-radius: 5px;
     display:flex;
     justify-content:space-around;
     background-color:  #ffe3ae;
   font-family: 'Comfortaa', cursive;
}
footer a:link {
   
    color:black;
     text-decoration: none;
     margin:0 auto;
}
main {
    display: flex;
    flex-direction:row;
   justify-content:space-between;
}



.main_r, .main_l
{
    display: flex;
    flex-direction:column;
   justify-content:center;
}

.map,#map {
display: flex;
justify-content:space-around;
flex-direction:column;
    width:90%;
    height: 50vh;
    margin: 0 auto;
   
 
}

.h2-centered{
    display: flex;
    justify-content:space-around;
}
.reset{
    min-width: 202px;
    min-height:45px;
    background-color:#e61610;
    border-style:none; 
}
.submit{
    background-color:#2196f3;
     min-width: 202px;
    min-height:45px;
}
.form 
{display: flex;
width: 100%;
margin:0 auto;
    justify-content:space-around;
}
.feed{
   font-family: 'Comfortaa', cursive; 
  display: flex;
  justify-content:center;
  flex-direction:column;
}
form label{display: flex;

    margin-bottom: 20px;
}
form label input{
    display: flex;
   justify-content:flex-end;
}
.h2-logo
{
       margin:0 0 0 10px;
}
.h1-logo
{     margin:0 0 0 10px;
}
#language{
  border-radius: 5px 5px 0 0 ;
  border-bottom-width: 0;
   border-right-width: 0;
   margin-bottom: 10px;
   margin-left: 80%;
   max-width: 8vh;
}

.nav-footer p
{
    margin :0;
}
}

body {
 background-color: #ffe3ae;
     max-width:950px;
     margin:0 auto;
 }
 h1,h2,h3
 {
  font-family: 'Comfortaa', cursive;
 }
 .soc-logo{
     width:85px; 
     height:85px;
 }
 header {
  background-color: #7a7a7a;
   border:1px solid black;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
    align-items:flex-end;
   font-family: 'Comfortaa', cursive;
 }
 .logo-link{
     display: flex;
     justify-content:space-around;
 }
 .logo-img{
     display: flex;
     justify-content:space-around; 
 }
 .banner img
 { content: url(img/header.jpg);
     max-width: 950px;
 }

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container > div {
    width: 20%;
    min-width: 100px;
    margin: 0;
}
.container > div:nth-child(1),
.container > div:nth-child(2){
    width: 45%;
}
.container > div:nth-child(3){
    width: 95%;
    margin: 0 auto;
    justify-content:center;
}
.container > div:nth-child(4),
.container > div:nth-child(5){
    width: 45%;
}
div > p {
  
}
div > img {
    width: 100%;
}
 #logo {
 display:flex;
 justify-content:flex-start;
   align-items:flex-start;
     flex-direction:column;
  width: 25%;
  min-width: 15%;
  text-align: center;
  color: #ffe3ae;
 }
.nav ul {
      font-family: 'Comfortaa', cursive;
     flex-wrap:nowrap;
     display:flex;
     margin:0 auto;
     justify-content:center;
        max-height:80%; 
      min-width: 55%;
      list-style: none;
     border-radius: 25px 25px 0 0 ;
      background-color: #7a7a7a;
      text-align: center;
      padding: 0;
      margin: 0;
}
.nav li {
    background-color: #ffffff;
   
     font-family: 'Comfortaa', cursive;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a {
       font-family: 'Comfortaa', cursive;
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a:hover {
  background-color: #ffe3ae;
    border-radius: 25px 25px 0 0 ;
}
 
.nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
    border-radius: 25px 25px 0 0 ;
}
 

  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }


article {
    max-width: 450px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.note-text{
    max-width: 450px;
    display:flex;
    text-align: center;
    color:black;
    justify-content:flex-start;
    background-image: url("http://spyhop.org/sendingmessages/wp-content/uploads/2016/04/spiral-notebook-paper-texture-457x600-400x200.jpg");
}
.bio
{
        display:flex;
        flex-direction:column;
    justify-content:flex-end;
}
.social{
    text-align: center;
    margin-right:20%;
    margin-left:20%;
        flex-direction:row;
    justify-content:center;
}
footer {
     background-color: #7a7a7a;
   font-family: 'Comfortaa', cursive;
    border:1px solid black;
}

.logo-link a:-webkit-any-link {
     font-family: 'Comfortaa', cursive;
     text-decoration: none; 
     color:black;
}

.nav-footer {
    /*max-width: 70%;*/
    /*max-height:70%;*/
    margin-left:15%;
    margin-right:15%;
     border-radius: 5px;
     display:flex;
     justify-content:space-around;
     background-color:  #ffe3ae;
   font-family: 'Comfortaa', cursive;
}
footer a:link {
   
    color:black;
     text-decoration: none;
}
.main_r, .main_l
{
    display: flex;
    flex-direction:column;
   justify-content:center;
}

.map,#map {
display: flex;
justify-content:space-around;
flex-direction:column;
    width:90%;
    height: 50vh;
    margin: 0 auto;
   
 
}
.message,.h2-centered{
    display: flex;
    justify-content:space-around;
}
.reset{
    min-width: 202px;
    min-height:45px;
    background-color:#e61610;
    border-style:none; 
}
.submit{
    background-color:#2196f3;
     min-width: 202px;
    min-height:45px;
}

.form 
{display: flex;
width: 100%;
margin:0 auto;
    justify-content:space-around;
}
.feed{
   font-family: 'Comfortaa', cursive; 
  display: flex;
  justify-content:center;
  flex-direction:column;
}
.h2-logo
{
       margin:0 0 0 10px;
}
.h1-logo
{     margin:0 0 0 10px;
}
#language{
  border-radius: 5px 5px 0 0 ;
  border-bottom-width: 0;
   border-right-width: 0;
   margin-bottom: 10px;
   margin-left: 80%;
   max-width: 8vh;
}
.nav-footer p
{
    margin :0;
}